ipykernel
numpy
pandas
matplotlib
scipy
plotly
pymap3d
mcap
opencv-python
pillow-heif
csaps
matplotlib-label-lines
scikit-learn
casadi
autopep8
maturin
numba
tqdm
livelossplot
nbformat
scalene
kaleido
pyulog
python-can
cantools
ipywidgets
sympy
rerun-sdk
astropy